@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #212121;
    background-image: url("images/bg.png");
    background-color: #cccccc;
}

#nmbs{
    margin: 0px;
    height: 0px;
    
}

#topbar{
    background-color: black;
    height: 10%;
    width: inherit;
    padding-top: 1%;
}

#discordlogo{
    margin: 0px;
    height: 70%;
    float: right;
    margin-right: 0.70%;
    margin-top: 0.50%;
}

#introtext{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#mainbutton{
    width: 60%;
    height: 10%;
    border-radius: 300px;
    background-color: #5865f2;
    color: #fff;
    border-color: transparent;
    border: none;
    padding: 2.5%;
    margin-top: 10%;
    cursor: pointer;
}

#bs{
    height: 10%;
}
